*,
*::before,
*::after{
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
p,
ul{
    margin:0;
}
:root{
    --clr-primary-100: #fff;
    --clr-primary-200: #F9FAF8;
    --clr-accent-300: #E5E7EB;
    --clr-primary-500: #3882F6;
    --clr-primary-800: #1F2937;
    --clr-primary-900: #000;
    
    --ff-primary:'Roboto', sans-serif;
    
}
body{
font-family: var(--ff-primary);
font-weight: 400;
font-size: 1rem;
line-height: 1.3;
}
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white; /*change this later*/
}

h1,h2,h3{
    line-height: 1;
    font-weight: 900;
}

.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;

}
ul{
    display: flex;
    gap: 2rem
}
.container{
    margin-inline: auto;
    width: min(90%, 60rem);

}
header{
    height: 30rem;
    background-color: var(--clr-primary-900);
    color: white; /*change this later*/
}
header .container{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header-hero{
    display: flex;
    flex: 1;
    align-items: center;
}
.hero-title{
    font-size: 3rem;
    color:#F9FAF8;
    font-weight: bolder;
    line-height: 1; 
    margin-block-end: 1rem;

}
.hero-content p{
    margin-block-end: 1rem;
}
button{
    background-color: var(--clr-primary-500);
    border: none;
    color: var(--clr-primary-200);
    padding: .5rem 2rem;      
    border-radius: 5px;
    font-weight: 600;
}
section .sign-up-button{
    border: 1px solid var(--clr-primary-200);
    cursor: pointer;
}
.sign-up-button:hover{
    box-shadow: 1px 1px 1px 1px var(--clr-primary-200);
}


.hero-image{
    aspect-ratio: 2 / 1;
    background-color: var(--clr-primary-200);
}
.hero-wrapper{
    display: flex;
    flex-basis: 100%;

}
.hero-wrapper > *{
    flex-basis: 100%;
}
.info-container .info-image{
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: aquamarine;
    border: 1px solid var(--clr-primary-900);
}
.info-wrapper{
    display: flex;
    gap: 2rem;
    margin-block-end: 3rem;
}
.section-1{
    text-align: center;
    
}
.random-info-title{
    margin-block: 2rem;
}
section.testimonial{
    background-color: var(--clr-accent-300);
}
.testimonial .container{
    padding-block: 3rem;
    padding-inline: 5rem;
}
.call-to-action{
    background-color: #3882F6;
    display: flex;
    align-items: center;
    padding: 2rem;
}
.container-call-to-action{
    padding-block: 3rem;
    padding-inline: 2rem;
}
.button-container{
    display: flex;
    justify-content: center;
    flex:1;

}
footer{
    display: flex;
    background-color: var(--clr-primary-900);
    color: var(--clr-primary-200);
    padding: 2rem;
    justify-content: center;
}
.call-to-action > *{
    flex: 1;
}
.quote-content{
    padding: 3rem 3rem 0;
}
.header-logo{
    font-weight: 800;
    font-size: 24px;
    color: var(--clr-primary-200);
}
.quote{
    font-size: 2.25rem;
    font-style:italic;
    color: var(--clr-primary-800);
}