*,
*::before,
*::after{
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
p,
ul{
    margin:0;
}
:root{
    --clr-primary-100: #fff;
    --clr-primary-200: #F9FAF8;
    --clr-accent-300: #E5E7EB;
    --clr-primary-500: #3882F6;
    --clr-primary-800: #1F2937;
    --clr-primary-900: #000;
    
    --ff-primary:'Roboto', sans-serif;
    
}
body{
font-family: var(--ff-primary);
font-weight: 400;
font-size: 1rem;
line-height: 1.3;
}
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white; /*change this later*/
}

h1,h2,h3{
    line-height: 1;
    font-weight: 900;
}
header .split{
    display: flex;
    flex-direction: column;
}
.header-main{
    display: flex;
    justify-content: space-between;

}
ul{
    display: flex;
    gap: 2rem
}
.container{
    margin-inline: auto;
    width: min(90%, 40rem);

}
header{
    height: 20rem;
    background-color: var(--clr-primary-900);
    color: white; /*change this later*/
}